@page "{bookId?}"
@model Fulgoribus.Luxae.Web.Pages.Books.IndexModel
@{
    ViewData["Title"] = @Model.Book.Title;
}

<h1>@Model.Book.Title</h1>

@if (Model.Book.Authors.Any())
{
    <h2>Written by @Model.Book.AuthorDisplay</h2>
}

@if (Model.Book.Illustrators.Any())
{
    <h2>Illustrated by @Model.Book.IllustratorDisplay</h2>
}

@if (Model.Book.Translators.Any())
{
    <h2>Translated by @Model.Book.TranslatorDisplay</h2>
}

@foreach (var series in Model.Book.SeriesBooks)
{
    <p>Volume @series.Volume in the <a href="@Url.Page("Series", new { SeriesId = series.Series!.SeriesId })">@series.Series.Title</a> series</p>
}

<img src="@Url.Action("Cover", "Books", new { Id = Model.Book.BookId })" style="max-width: 100%" />
