@page "{bookId?}"
@model Fulgoribus.Luxae.Web.Pages.Books.IndexModel
@{
    ViewData["Title"] = @Model.Book.Title;
}

<h1>@Model.Book.Title</h1>

<h2>@Model.Book.Author</h2>

@foreach (var series in Model.Book.SeriesBooks)
{
    <p>Volume @series.Volume in the <a href="@Url.Page("Series", new { SeriesId = series.Series!.SeriesId })">@series.Series.Title</a> series</p>
}

<img src="@Url.Action("Cover", "Books", new { Id = Model.Book.BookId })" style="max-width: 100%" />
