@page
@model Fulgoribus.Luxae.Web.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<div class="form-group">
    <label asp-for="SeriesId">Series</label>
    @Html.DropDownListFor(m => m.SeriesId, Model.Series, "Please select a series.", new { _class = "form-control" })
</div>

@if(Model.Books.Any())
{
    @foreach (var book in Model.Books)
    {
        <div class="form-row">
            <div class="col-2">
                @book.Volume
            </div>
            <div class="col-6">
                @book.Book.Title
            </div>
            <div class="col-4">
                @book.Book.Author
            </div>
        </div>
    }
}

@section scripts
{
        <script type="text/javascript">
        function setSeriesId(e)
        {
            var url = new URL(window.location.href);
            url.searchParams.set("@Html.IdFor(m => m.SeriesId)", e.target.value);
            window.location.href = url;
        }

        document.getElementById("@Html.IdFor(m => m.SeriesId)").addEventListener("change", setSeriesId);
        </script>
    }
