@page
@model Fulgoribus.Luxae.Web.Pages.Books.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<div class="form-group">
    <label asp-for="SeriesId">Series</label>
    @Html.DropDownListFor(m => m.SeriesId, Model.Series, "Please select a series.", new { _class = "form-control" })
</div>

@if (Model.Books.Any())
{
    @foreach (var book in Model.Books)
    {
        <div class="form-row">
            <div class="col-1">
                @book.Volume
            </div>
            <div class="col-2">
                @if (book.Book.HasCover)
                {
                    <img src="@Url.Action("Cover", "Books", new { Id = book.Book.BookId })" style="max-width: 100%" data-toggle="modal" data-target="@("#cover" + book.Book.BookId)" />
            }
            </div>
            <div class="col-6">
                @book.Book.Title
            </div>
            <div class="col-3">
                @book.Book.Author
            </div>
        </div>

        @if (book.Book.HasCover)
        {
            <div class="modal fade" id="@("cover" + book.Book.BookId)" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>@book.Book.Title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="@Url.Action("Cover", "Books", new { Id = book.Book.BookId })" style="max-width: 100%" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

@section scripts
{
    <script type="text/javascript">
        function setSeriesId(e)
        {
            var url = new URL(window.location.href);
            url.searchParams.set("@Html.IdFor(m => m.SeriesId)", e.target.value);
            window.location.href = url;
        }

        document.getElementById("@Html.IdFor(m => m.SeriesId)").addEventListener("change", setSeriesId);
    </script>
}
