@page "{seriesId?}"
@model Fulgoribus.Luxae.Web.Pages.Books.SeriesModel
@{
    ViewData["Title"] = Model.Series?.Title;
}

<h1>@(Model.Series?.Title ?? "Series")</h1>
@if (Model.Series != null && Model.Series.Authors.Any())
{
    <h2>written by @Model.Series.AuthorDisplay</h2>
}

<div class="form-group">
    <label asp-for="SeriesId">Series</label>
    @Html.DropDownListFor(m => m.SeriesId, Model.AllSeries, "Please select a series.", new { _class = "form-control" })
</div>

@for (int x = 0; x < (Model.Books.Count / Model.VolumesPerRow) + 1; x++)
{
    <div class="form-row">
        @{var target = Math.Min(Model.VolumesPerRow * (x + 1), Model.Books.Count);}
        @for (int y = Model.VolumesPerRow * x; y < Math.Min(Model.VolumesPerRow * (x + 1), Model.Books.Count); y++)
        {
            var book = Model.Books[y];

            <div class="col-2">
                @if (book.Book.HasCover)
                {
                    <img src="@Url.Action("Cover", "Books", new { Id = book.Book.ReleaseId, IsFullResolution = false })" style="max-width: 100%" />
                }
                <a href="@Url.Page("Index", new { BookId = book.Book.BookId })">@book.Volume</a>
            </div>
        }
    </div>
}

@section scripts
{
    <script type="text/javascript">
        function setSeriesId(e)
        {
            window.location.href = "@Url.Page("Series", new { SeriesId = -1 })".replace("-1", e.target.value);
        }

        document.getElementById("@Html.IdFor(m => m.SeriesId)").addEventListener("change", setSeriesId);
    </script>
}
